.bg-image{
    background-image: url(./background1.jpg);
    height: 100%; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:130px
}
.container, #movieName, .input, .btn-div , .playAgain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px ;
}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
    font-size: xx-large;
    
}
.container2, #btnPlay{
    display: none;
}
